src/__pycache__/
__pycache__/
data_images/
data/paddleocr_outputs/
data/output/
!data/output/
data/output/*
!data/output/MorganStanleyQ10*
!data/output/MorganStanleyQ10/
!data/output/MorganStanleyQ10/**
!data/output/MorganStanleyQ10_tables/
!data/output/MorganStanleyQ10_tables/**
!data/output/MorganStanleyQ10_images/
!data/output/MorganStanleyQ10_images/**
indexes/
!indexes/
indexes/*
!indexes/MorganStanleyQ10/
!indexes/MorganStanleyQ10/**
/output/
runs/
tmp_out/
*.log
requirements_pip.txt
test.ipynb
.env
config.yaml
