RAG_CONFIG_PATH=config.yaml
OPENAI_API_KEY=...
PADDLEOCRVL_DISABLE_VLLM=false
PADDLEOCRVL_AUTO_START_VLLM=true
PADDLEOCRVL_OFFLINE_IMAGE=ccr-2vdh3abv-pub.cnc.bj.baidubce.com/paddlepaddle/paddleocr-vl:latest-nvidia-gpu-sm120-offline
PADDLEOCRVL_SERVER_IMAGE=ccr-2vdh3abv-pub.cnc.bj.baidubce.com/paddlepaddle/paddleocr-genai-vllm-server:latest-nvidia-gpu-sm120
